.selection_container {
	max-width: 1170px;
	margin: 0 auto;
	background: #EDF0F6;
	padding: 40px 0;
}

.selection {
	padding: 0 3%;
}

.downarrow {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 10px solid black;
	margin: 10px auto;
}

.selection_repeat:last-child .downarrow {
  display: none;
}


.bg_text,
.p_text {
	padding: 10px 20px;
	text-align: center;
	font-size: 14px;
}

.p_text {
	background-color: #fff;
	color: #192452;
}

.p_text_m {
	font-size: 18px;
}

.bg_text {
	background-color: #192452;
	color: #fff;
	font-size: 18px;
}

.p_text_left {
	font-size: 18px;
  font-weight: 600;
	text-align: center;
}

.p_text_right {
  font-size: 14px;
  font-weight: 300;
	text-align: justify;
	text-justify: inter-ideograph;
	line-height: 26px;
}

@media screen and (min-width: 768px) {
	.selection {
		padding: 0 5%;
	}

	.selection_repeat_content {
		display: flex;
		justify-content: space-between;
	}
	.p_text {
		padding: 20px 60px;
	}
	.p_text_left {
		width: 18%;
		text-align: center;
		margin: auto 0;
	}
	.p_text_right {
		width: 74%;
	}
}
