table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 900px;
  tr {
    border-bottom: 1px rgba( #333, .3) solid;
    line-height: 1.6;
  }
  tr:first-child {
    border-top: 1px rgba(#333, .3) solid;
  }
  td {
    padding: .5rem;
    width: auto;
    ul {
      padding-left: 20px;
      margin-bottom: 0px;
    }
    p{
      margin: 0;
      margin-bottom: 16px;
    }
  }
  th {
    padding: .5rem;
    color: #888;
    text-align: left;
    width: 30%;
  }
}
@media screen and (max-width: 900px) {
  table{
    width: 100%;
  }
}

.typ {
  opacity: 0;
  }
.typ span {
  opacity: 0;
  }

.movetext{
  opacity:0;
}
.movetext span{opacity:0;}